@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

html {
    scroll-behavior: smooth;
}


:root {
    --lead: #212121;
    --gold-finger: #F2BD12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
}

body {
    background: var(--eye-ball);
}

/* BASIC STYLING */

a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.flex {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.flexnew {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


li {
    list-style-type: none;
}

.between {
    justify-content: space-between;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.p-top {
    padding-top: 5rem;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-half {
    margin-top: 0.5rem;
}

.m-auto {
    margin: auto;
}

.mt-one-half {
    margin-top: 1.5rem;
}

.ptop {
    padding-top: 7rem;
}

/* HEADER STYLING */


.navbar {
    min-height: 14vh;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);

}

.btn {
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: 1s ease-in-out;
}

.btn:hover {
    background: var(--lead);
}

.cart-icon {
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}

.hamburger {
    font-size: 1.5rem;
    display: none;
}

.mobile-menu {
    display: none;
}



/* SECTION STYLING */

.hero-section {
    min-height: calc(100vh - 14vh);
}

.content,
.image-container,
.service-card {
    flex: 1;
    flex-basis: 300px;
}

h1 {
    font-size: 5.6vw;
    color: var(--lead);
}

h1.span {
    color: var(--gold-finger);
}

p {
    font-size: 1.25rem;
    color: grey;
    line-height: 1.8rem;
    font-weight: 400;
}

.para {
    margin-block: 2rem;

}

.social-icon {
    background: var(--hint-yellow);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    transition: .3s ease-out;
}

.social-icon:hover {
    background: var(--lead);
    color: var(--pure-white);
}

/* SECTION 1 */
h5 {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: var(--gold-finger);
    text-transform: uppercase;
}

h2 {
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}

h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);
}

.service-card h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* SECTION 2 */

.order-cart {
    flex: 1;
    flex-basis: 300px;
    padding: 0 1rem 2rem 1rem;
    background: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 8px 8px 8px,
        rgba(0, 0, 0, 0.05) 8px 8px 8px;
}

.order-cart img {
    width: 15rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0, 0, 0, 0.238);
}

h4 {
    font-size: 1.1.8rem;
    color: var(--lead);
}

.order-cart .price {
    font-size: 1.7rem;
    color: var(--gold-finger);
    padding: 1.3rem 0 2rem 0;
}

/* CARD TAP STYLING */
.cart-tab h4 {
    font-size: 1.5rem;
}

.cart-tab {
    background: var(--hint-yellow);
    position: fixed;
    inset: 0 -500 0 auto;
    /* right: -500px; */
    width: 25rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: 5s ease-in-out;


}

.cart-tab-active {

    inset: 0 0 0 auto;
    /* right: 0; */

}

.cart-list {
    flex: 1;
    width: 100%;
    margin: 1.5rem;
    overflow: auto;

}

.cart-list::-webkit-scrollbar {
    width: 0;
}

.cart-list .item:nth-child(even) {
    background: var(--eye-ball);
}

.card-image {

    width: 300px;
    flex: 1;
    flex-basis: 300px;
    padding: 0 1rem 2rem 1rem;
    background: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 5rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 8px 8px 8px,
        rgba(0, 0, 0, 0.05) 8px 8px 8px;

}



.total-container {
    width: 100%;
    background: var(--gold-finger);
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
}

.total-container h4 {
    display: inline;
    font-size: 1.3rem;
    font-weight: 400;

}

.btn-container .btn {
    background: var(--lead);
    transition: 0.5s ease-in-out;

}

.btn-container .btn:hover {
    background-color: #F2BD12;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .7rem 1rem;
    transition: all .5s ease-in-out;
}

.item.slide-out {
    transform: translatex(50%);
}

.item.detail {
    flex: 2;
}

.item .item-image img {
    width: 5rem;
}

.item h4 {
    font-size: 1.2rem;
    color: var(--lead);

}

.item .item-total {
    font-weight: 400;
    margin-top: .3rem;
}

.quantity-btn {
    background: var(--lead);
    color: var(--pure-white);
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    text-align: center;
    line-height: 1.7rem
}

.quantity-value {
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: .6rem;

}








/* SECTION 3 */

.swiper {
    width: 100%;
    height: 100%;
}

.profile {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    /* object-fit: cover; */
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
}

.fa-star {
    color: var(--gold-finger);
}

/* SECTION 4 */

.app-container {
    background: var(--hint-yellow);
    padding: 3rem 6rem;
    border-radius: 3rem;
}

.app-container img {
    width: 25rem;
}

.app-container .content h2 {
    font-size: 4.5rem;
}

.app-container.image-container img {
    width: 25rem;
}

/* SECTION 5 */
.input-container {
    width: 43rem;
    max-width: 100%;
    background: var(--pure-white);
    padding: .8rem;
    margin: auto;

}

input[type="email"] {
    flex: 1;
    height: 7vh;
    width: 33rem;
    background: transparent;
    border: none;
    font-size: 1rem;
    padding-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1)0 5px 8px
}

input[type="email"]:focus {
    outline: none;

}



/* FOOTER STYLING */
.footer-container {
    margin-top: 10rem;
    padding-block: 4rem;
    background: var(--hint-yellow);
}

.footer-link {
    color: gray;
    font-size: 1.1rem;
    transition: 0.5s ease-in-out;
}

.footer-link:hover {
    color: var(--lead);
}

.footer-wrapper h4 {
    font-size: 1.5rem;
}

.footer-wrapper {
    flex: 1;
    flex-basis: 150px;
}

.footer-wrapper:nth-child(1) {
    flex: 2;
    flex-basis: 300px;
}
















/* MEDIA QUERYS */

/* HEADER STYLING  */

@media screen and (max-width:780px) {

    .navlist,
    .desktop-action .btn {
        display: none;
    }

    .desktop-action .hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translate(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        box-shadow:
            rgba(0, 0, 0, 0.05) 8px 8px 8px,
            rgba(0, 0, 0, 0.05) 8px 8px 8px;
        transition: 5s ease-in-out;

    }

    .mobile-menu-active {
        left: 50%;
        transform: translateX(-50%);
    }

    /* SECTION STYLING */
    /* HERO STYLING */
    h1 {
        font: 3.6rem;
    }

    .content {
        padding-top: 3rem;
    }

    .gap-2 {
        gap: 1.4rem;
    }

    .gap-4 {
        gap: 4rem;
    }

    /* SECTION 1 */

    h2 {
        font-size: 3rem;

    }

    /* SECTION 4 */
    .app-container {
        padding: 2.2rem;
    }

    .app-container .content h2 {

        font-size: 3.5rem;

    }




}